<p *ngIf = "!(authService.getUser()|async)">You are not logged in</p>
<p *ngIf = "(authService.getUser()|async)">
<mat-card class="example-card" *ngFor = "let card of cards" >

    <mat-card-header >
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{card.name}} {{card.age}}</mat-card-title>
      <mat-card-subtitle>{{card.role}}</mat-card-subtitle>
    </mat-card-header>
  
    <mat-card-content>
      <p>
        {{card.discreption}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</p>
