<div>
  <button mat-raised-button 
  color="primary"
  (click) = "addCustomerFormOpen=true">
  Add Customer
 </button>   
</div>
<div>
  <customers-form *ngIf = "addCustomerFormOpen"
    [formType] = "'Add Book'"
    (update) = "add($event)"
    (closeEdit) = "addCustomerFormOpen = false">
  </customers-form>
</div>

<div>
  <input class="form-control" type="text" name="name" [(ngModel)]="name" (ngModelChange)="Search()">
</div>

      <table mat-table [dataSource]="customers" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span *ngIf = "i!=rowToEdit">{{element.name}}</span> 
        <mat-form-field *ngIf = "i==rowToEdit" >
          <input          
            matInput
            [(ngModel)]="customerToEdit.name" 
            [value] = "element.name"            
          >
        </mat-form-field>
      </td>
    </ng-container>
  
    <!-- Years Column -->
    <ng-container matColumnDef="Education in years">
      <th mat-header-cell *matHeaderCellDef> Education in years </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span *ngIf = "i!=rowToEdit">{{element.years}}</span>
        <mat-form-field *ngIf = "i==rowToEdit" >
          <input          
            matInput
            [(ngModel)]="customerToEdit.years" 
            [value] = "element.years"  
                      
          >
          
        </mat-form-field>         
      </td>
    </ng-container>
  
    <!-- Income Column -->
    <ng-container matColumnDef="Personal income">
      <th mat-header-cell *matHeaderCellDef> Personal income </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span *ngIf = "i!=rowToEdit">{{element.income}}</span>
        <mat-form-field *ngIf = "i==rowToEdit" >
          <input          
            matInput
            [(ngModel)]="customerToEdit.income" 
            [value] = "element.income"            
          >
        </mat-form-field>         
      </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="Edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button 
          *ngIf = "i!=rowToEdit"
          mat-raised-button
          (click) = "moveToEditState(i)"
        >
          Edit
        </button> 
        <button 
          *ngIf = "i==rowToEdit"
          mat-raised-button
          color="primary"
          (click) = "updateCustomer()"
        >
          save
        </button> 
        <button 
          *ngIf = "i==rowToEdit"
          mat-raised-button
          (click) = "rowToEdit = null"
        >
          Cancel
        </button>                   
      </td>
    </ng-container>

    
    <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef> delete </th>
        <td mat-cell *matCellDef="let element; let i = index"> <button mat-flat-button color="warn" (click)="deletecustomer(i)">Delete</button>  </td>
      </ng-container>
    
      <ng-container matColumnDef="Predict">
        <th mat-header-cell *matHeaderCellDef> Predict </th>
        <td mat-cell *matCellDef="let element; let i = index"> 
          <button mat-flat-button color="primary" (click)="prdict(i)">Predict</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="Result">
        <th mat-header-cell *matHeaderCellDef> Result </th>
        <td mat-cell *matCellDef="let element" [ngClass]="[element.result=='Will pay' ? 'green' : 'red']"> {{element.result}} </td>
      </ng-container>

      <ng-container matColumnDef="Save">
        <th mat-header-cell *matHeaderCellDef><b>Save Predict</b>  </th>
        <td mat-cell *matCellDef="let element; let i = index">
    
          <button mat-stroked-button color="accent" [disabled]="element.result==null||element.saved "      
          (click) = "save(i);" >
          save result
        </button> 
     
        <div *ngIf = "element.saved" >
         <p style="color:greenyellow"> you saved result!</p> 
        </div>
        </td>
      </ng-container>  
        
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
    