<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list  *ngIf = "(authService.getUser()|async)">
      <a mat-list-item routerLink="/cards" routerLinkActive="active">Eemployee</a>
      <a mat-list-item  routerLink="/customers" routerLinkActive="active">customers</a>
      <a mat-list-item routerLink="/posts" routerLinkActive="active">Post</a>
      <a mat-list-item routerLink="/comments" routerLinkActive="active">comments</a>
      <a mat-list-item routerLink="/savepost" routerLinkActive="active">Saved Post</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Employee </span>
      <span class = "spacer"></span>
      <a class = "whitelink" routerLink = "/signup" *ngIf = "!(authService.getUser()|async)">Signup</a>
     <a class = "whitelink" routerLink = "/login" *ngIf = "!(authService.getUser()|async)">Login</a>
      <a class = "whitelink1" (click) = "logout()" *ngIf = "(authService.getUser()|async)">Logout</a>
    </mat-toolbar>
    <!-- Add Content Here -->
     
     <router-outlet>
     
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
