<mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let post of posts$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
           {{post.id}}. {{post.title}} 
        </mat-panel-title>
        <mat-panel-description>
          <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" (click)="savepost(post.id,post.title,post.body) " [disabled]="items.includes(post.id)">
            <mat-icon>favorite</mat-icon>
          </button>
        
          <p *ngIf="items.includes(post.id)" ><b>you saved this post </b> </p> 
    
         </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{post.body}}</p>
      <div *ngFor= "let comment of comments$ |async">
        <div *ngIf = "comment.postId == post.id">{{comment.id}}.{{comment.body}}</div>
      </div> 

    </mat-expansion-panel>
  </mat-accordion>
  