
<mat-accordion >
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let comment of comments$ | async">
      <mat-expansion-panel-header>
        <mat-panel-title>
           {{comment.postId}} {{comment.name}}
        </mat-panel-title>
        <mat-panel-description>
         
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>{{comment.body}}</p>
    </mat-expansion-panel>
  </mat-accordion>
  