<mat-accordion>

    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false"
                         *ngFor = "let savepost of saveposts$| async">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{savepost.title}}
        </mat-panel-title>
        <mat-panel-description>
          <button mat-raised-button color="warn" (click)="deleteSave(savepost.id)">Delete</button>
        </mat-panel-description>
      </mat-expansion-panel-header>
      {{savepost.body}}
    </mat-expansion-panel>
  </mat-accordion>
  